<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myserver.demo.mapper.PersonalCloudDriverMapper">
  <insert id="insertCfgInfo">
        insert into PERSONAL_CLOUD_DRIVER_CONFIG
        (USER_ID, ROOT_ROUTER, STATUS, REMARK)
        values(
        #{user.id},#{dirName},'1',''
        )
  </insert>

  <select id="queryCfgInfo" parameterType="com.example.myserver.demo.model.User" resultType="com.example.myserver.demo.model.User">
        select USER_ID ID,ROOT_ROUTER INFO from PERSONAL_CLOUD_DRIVER_CONFIG 
          where USER_ID =  #{user.id} 
          AND STATUS = 1
  </select>
</mapper>